img{
  position: absolute;
width: 268px;
height: 179px;
left: 1302px;
top: 24px;
}
p
position: absolute;
width: 834px;
height: 702px;
left: 113px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
text-align: center;
